<div class="user_info">
  <h1>
    <%= @user.name %>
  </h1>
  <span><%= link_to "View profile", @user %></span>
</div>

<div class="stats">
  <%= render "layouts/stats" %>
</div>

<h3><%= @title %></h3>
<% if @users.any? %>
  <ul class="users follow">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
<% end %>
