<div class="row">
  <div class="col-6 offset-sm-3 avatar_user">
    <h1>
      <%= @user.name %>
    </h1>
      <%= render "layouts/stats" %>
  </div>
</div>

<%= render "follow_form" if logged_in? %>

<% if @user.posts.any? %>
  <ol class="posts list_post">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
<% end %>
